@model IEnumerable<ToDoItem>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="fw-bold">ToDo</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ToDo" asp-action="Create" class="btn btn-outline-info btn-info text-white fw-bold">
                <i class="bi bi-plus-square"></i> &nbsp; New ToDo
            </a>
        </div>
    </div>
    <br />

    <div class="table-responsive">
        <table class="table table-borderless table-striped align-middle" style="width:100%">
            <thead>
                <tr>
                    <th style="padding: 10px;">
                        ToDo Name
                    </th>
                    <th style="padding: 10px;">
                        Description
                    </th>
                    <th style="padding: 10px;">
                        Due At
                    </th>
                    <th style="padding: 10px;">
                        Due Date
                    </th>
                    <th style="padding: 10px;">
                        Status
                    </th>
                    <th style="padding: 10px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr class="table-info" style="padding: 10px;">
                        <td>
                            @obj.Title
                        </td>
                        <td>
                            @obj.Description
                        </td>
                        <td>
                            @obj.DueTime.ToString("hh:mm tt")
                        </td>
                        <td>
                            @obj.DueDate.ToString("MMM dd, yyyy")
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="@obj.Id">
                                <label class="form-check-label" asp-for="@obj.IsDone"></label>
                            </div>
                        </td>
                        <td>
                            <button id="btnGroupDrop2" type="button" class="btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" style="">
                                <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@obj.Id" class="dropdown-item text-info"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                                <a asp-controller="ToDo" asp-action="Delete" asp-route-id="@obj.Id" class="dropdown-item text-danger"><i class="bi bi-trash"></i> &nbsp; Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>