@model IEnumerable<ToDoItem>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>ToDo</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ToDo" asp-action="Create" class="btn btn-outline-info">
                <i class="bi bi-plus-square"></i> &nbsp; New ToDo Item
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped align-middle" style="width:100%">
        <thead>
            <tr>
                <th style="padding: 10px;">
                    ToDo Name
                </th>
                <th style="padding: 10px;">
                    Description
                </th>
                <th style="padding: 10px;">
                    Due Date
                </th>
                <th style="padding: 10px;">
                    Status
                </th>
                <th style="padding: 10px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="table-info" style="padding: 10px;">
                    <td>
                        @obj.Title
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        @obj.DueDate.ToString("MMM dd, yyyy")
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="@obj.Id">
                            <label class="form-check-label" asp-for="@obj.IsDone"></label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>