@model HomeViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary-subtle fw-bold">Dashboard</h1>
        </div>
    </div>
    <br />

    <div class="row gx-4 gy-4">
        <!-- First column -->
        <div class="col-lg-9 h-100">
            <!-- Progress -->
            <div class="card text-black bg-info-subtle mb-4">
                <div class="card-body">
                    <h4 class="card-title">Progress</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <!-- Budget -->
            <div class="card text-black bg-info-subtle mb-4">
                <div class="card-body">
                    <h4 class="card-title">Budgets</h4>                    
                        @foreach (var budget in Model.BudgetItems)
                        {
                            <div class="card text-black bg-info mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Category: @budget.Category</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Name: @budget.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Amount: $@budget.Amount</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @budget.Date.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                             
                        }
                    <a asp-controller="Budget" asp-action="Index" class="card-link">
                        Go To Budgets
                    </a>
                </div>
            </div>
            <!-- Goals and Tasks -->
            <div class="row gx-4">
                <div class="col-md-6">
                    <div class="card text-black bg-info-subtle mb-4">
                        <div class="card-body">
                            <h4 class="card-title">Goals</h4>
                            @foreach (var goal in Model.Goals)
                            {
                                <div class="card text-black bg-info-subtle mb-4 p-3">
                                    <div class="container">
                                        <div class="row">                                         
                                            <div class="col">
                                                <p class="card-text">Name: @goal.Title</p>
                                            </div>                                            
                                            <div class="col">
                                                <p class="card-text">Date: @goal.DueDate.ToShortDateString()</p>
                                            </div>
                                            <div class="w-100 m-1"></div>
                                            <div class="col">
                                                <p class="card-text">Priority: @goal.Priority</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">Status: @goal.Status</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <a asp-controller="Goal" asp-action="Index" class="card-link">
                                Go To Goals
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-black bg-info-subtle mb-4">
                        <div class="card-body">
                            <h4 class="card-title">ToDo</h4>
                            @foreach (var toDo in Model.ToDoItems)
                            {
                                <div class="card text-black bg-info-subtle mb-4 p-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <p class="card-text">Name: @toDo.Title</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">Date: @toDo.DueDate.ToShortDateString()</p>
                                            </div>                                           
                                            @* <div class="col">
                                                <p class="card-text">Priority: @toDo.IsDone</p>
                                            </div>    *@                                         
                                        </div>
                                    </div>
                                </div>
                            }
                            <a asp-controller="ToDo" asp-action="Index" class="card-link">
                                Go To ToDos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second column -->
        <div class="col-lg-3">
            <!-- Calendar -->
            <div class="card text-black bg-info-subtle mb-4 h-100">
                <div class="card-body">
                    <h4 class="card-title text-center">Upcoming</h4>
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col align-content-center text-center">
                                @{
                                    // Calculate the start and end of the current week
                                    DateTime startOfWeek = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek);
                                    DateTime endOfWeek = startOfWeek.AddDays(6);
                                }
                                @startOfWeek.ToString("MMM d") - @endOfWeek.ToString("MMM d, yyyy")
                            </div>
                            <div class="w-100"></div>
                            @foreach (var day in Enumerable.Range(0, 7))
                            {
                                DateTime currentDate = DateTime.Today.AddDays(day - (int)DateTime.Today.DayOfWeek);
                                <div class="col">
                                    <p>@currentDate.ToString("dddd")</p>
                                    @foreach (var item in Model.UpcomingItems.Where(i => i.DueDate.Date == currentDate.Date))
                                    {
                                        <p>@item.Name - @item.DueTime.ToString("hh:mm tt")</p>
                                    }
                                </div>
                                <div class="w-100"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
