@model HomeViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary-subtle fw-bold">Dashboard</h1>
        </div>
    </div>
    <br />

    <div class="row gx-4 gy-4">
        <!-- First column -->
        <div class="col-lg-9 h-100">
            <!-- Progress Overview -->
            <div class="card text-black bg-light mb-4" style="height:350px;">
                <div class="card-body bg-info-subtle d-flex flex-column">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Overview</h4>
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="viewDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select View
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="viewDropdown">
                                    <li><a class="dropdown-item" href="#" onclick="showView('overview')">Overview</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="showView('goals')">Goals</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="showView('budgets')">Budgets</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="showView('todos')">ToDo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Goals</h6>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @Model.GoalsProgress%" aria-valuenow="@Model.GoalsProgress" aria-valuemin="0" aria-valuemax="100">@Model.GoalsProgress%</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>ToDos</h6>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-info" role="progressbar" style="width: @Model.ToDosProgress%" aria-valuenow="@Model.ToDosProgress" aria-valuemin="0" aria-valuemax="100">@Model.ToDosProgress%</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>Budgets</h6>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: @Model.BudgetsProgress%" aria-valuenow="@Model.BudgetsProgress" aria-valuemin="0" aria-valuemax="100">@Model.BudgetsProgress%</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto">
                        <a href="#" class="card-link">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Budget -->
            <div class="card text-black bg-info-subtle mb-4" style="height:350px;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Budgets</h4>
                    <div style="max-height: 200px; overflow-y: auto;">
                        @foreach (var budget in Model.BudgetItems.Take(3))
                        {
                            <div class="card text-black bg-info mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Category: @budget.Category</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Name: @budget.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Amount: $@budget.Amount</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @budget.Date.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="Budget" asp-action="Index" class="card-link">
                            Go To Budgets
                        </a>
                    </div>
                </div>
            </div>
            <!-- Goals -->
            <div class="card text-black bg-info-subtle mb-4" style="height:350px;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Goals</h4>
                    <div style="max-height: 200px; overflow-y: auto;">
                        @foreach (var goal in Model.Goals.Take(3))
                        {
                            <div class="card text-black bg-info-subtle mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Name: @goal.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @goal.DueDate.ToShortDateString()</p>
                                        </div>
                                        <div class="w-100 m-1"></div>
                                        <div class="col">
                                            <p class="card-text">Priority: @goal.Priority</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Status: @goal.Status</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="Goal" asp-action="Index" class="card-link">
                            Go To Goals
                        </a>
                    </div>
                </div>
            </div>
            <!-- ToDo -->
            <div class="card text-black bg-info-subtle mb-4" style="height:350px;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">ToDo</h4>
                    <div style="max-height: 200px; overflow-y: auto;">
                        @foreach (var toDo in Model.ToDoItems.Take(3))
                        {
                            <div class="card text-black bg-info-subtle mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Name: @toDo.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @toDo.DueDate.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="ToDo" asp-action="Index" class="card-link">
                            Go To ToDos
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second column -->
        <div class="col-lg-3">
            <!-- Calendar -->
            <div class="card text-black bg-info-subtle mb-4 h-100">
                <div class="card-body">
                    <h4 class="card-title text-center">Upcoming</h4>
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col align-content-center text-center">
                                @{
                                    // Calculate the start and end of the current week
                                    DateTime startOfWeek = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek);
                                    DateTime endOfWeek = startOfWeek.AddDays(6);
                                }
                                @startOfWeek.ToString("MMM d") - @endOfWeek.ToString("MMM d, yyyy")
                            </div>
                            <div class="w-100"></div>
                            @foreach (var day in Enumerable.Range(0, 7))
                            {
                                DateTime currentDate = DateTime.Today.AddDays(day - (int)DateTime.Today.DayOfWeek);
                                <div class="col">
                                    <p>@currentDate.ToString("dddd")</p>
                                    @foreach (var item in Model.UpcomingItems.Where(i => i.DueDate.Date == currentDate.Date))
                                    {
                                        <p>@item.Name - @item.DueTime.ToString("hh:mm tt")</p>
                                    }
                                </div>
                                <div class="w-100"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>