@model HomeViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary-subtle fw-bold">Dashboard</h1>
        </div>
    </div>
    <br />

    <div class="row gx-4 gy-4">
        <!-- First column -->
        <div class="col-lg-9 h-100">
            <!-- Progress Overview -->
            <div class="card text-black bg-light mb-4 rounded-4 shadow" style="height:350px;">
                <div class="card-body bg-info-subtle d-flex flex-column rounded-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Overview</h4>
                        </div>
                        <div class="col">
                            <div class="float-end">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="viewDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Select View
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="viewDropdown">
                                        <li><a class="dropdown-item" href="#" onclick="showView('overview')">Overview</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="showView('goals')">Goals</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="showView('budgets')">Budgets</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="showView('todos')">ToDo</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <p class="mt-3">This month you completed</p>
                    <div class="row h-100">
                        <div class="col-md-4">
                            <h6 class="fs-2">Goals</h6>
                            <div class="h-100 mt-3 mx-5 fs-1">@Model.GoalsCompletedThisMonth</div>
                        </div>
                        <div class="col-md-4">
                            <h6 class="fs-2">ToDos</h6>
                            <div class="h-100 mt-3 mx-5 fs-1">@Model.ToDosCompletedThisMonth</div>
                        </div>
                        <div class="col-md-4">
                            <h6 class="fs-2">Budgets</h6>
                            <div class="h-100 mt-3 mx-5 fs-1">@Model.BudgetsCompletedThisMonth</div>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- Budget -->
            <div class="card text-black bg-info-subtle mb-4 rounded-4 shadow" style="height:350px;">
                <div class="card-body d-flex flex-column rounded-4">
                    <h4 class="card-title fw-bold">Budgets</h4>
                    <div style="max-height: 225px; overflow-y: auto;">
                        @foreach (var budget in Model.BudgetItems)
                        {
                            <div class="card text-black bg-info mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Category: @budget.Category</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Name: @budget.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Amount: $@budget.Amount</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @budget.Date.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="Budget" asp-action="Index" class="card-link">
                            Go To Budgets
                        </a>
                    </div>
                </div>
            </div>
            <!-- Goals -->
            <div class="card text-black bg-info-subtle mb-4 rounded-4 shadow" style="height:350px;">
                <div class="card-body d-flex flex-column rounded-4">
                    <h4 class="card-title fw-bold">Goals</h4>
                    <div style="max-height: 225px; overflow-y: auto;">
                        @foreach (var goal in Model.Goals)
                        {
                            <div class="card text-black bg-info-subtle mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Name: @goal.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @goal.DueDate.ToShortDateString()</p>
                                        </div>
                                        <div class="w-100 m-1"></div>
                                        <div class="col">
                                            <p class="card-text">Priority: @goal.Priority</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Status: @goal.Status</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="Goal" asp-action="Index" class="card-link">
                            Go To Goals
                        </a>
                    </div>
                </div>
            </div>
            <!-- ToDo -->
            <div class="card text-black bg-info-subtle mb-4 rounded-4 shadow" style="height:350px;">
                <div class="card-body d-flex flex-column rounded-4">
                    <h4 class="card-title fw-bold">ToDos</h4>
                    <div style="max-height: 225px; overflow-y: auto;">
                        @foreach (var toDo in Model.ToDoItems)
                        {
                            <div class="card text-black bg-info-subtle mb-4 p-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">Name: @toDo.Title</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">Date: @toDo.DueDate.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="mt-auto">
                        <a asp-controller="ToDo" asp-action="Index" class="card-link">
                            Go To ToDos
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second column -->
        <div class="col-lg-3">
            <!-- Calendar -->
            <div class="card text-black bg-info-subtle mb-4 h-100 rounded-4 shadow">
                <div class="card-body rounded-4">
                    <h4 class="card-title text-center fw-bold">Upcoming</h4>
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col align-content-center text-center">
                                @{
                                    // Calculate the start and end of the current week
                                    DateTime startOfWeek = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek);
                                    DateTime endOfWeek = startOfWeek.AddDays(6);
                                }
                                @startOfWeek.ToString("MMM d") - @endOfWeek.ToString("MMM d, yyyy")
                            </div>
                            <div class="w-100"></div>
                            @foreach (var day in Enumerable.Range(0, 7))
                            {
                                DateTime currentDate = DateTime.Today.AddDays(day - (int)DateTime.Today.DayOfWeek);
                                <div class="col">
                                    <p>@currentDate.ToString("dddd")</p>
                                    @foreach (var item in Model.UpcomingItems.Where(i => i.DueDate.Date == currentDate.Date))
                                    {
                                        <p>@item.Name - @item.DueTime.ToString("hh:mm tt")</p>
                                    }
                                </div>
                                <div class="w-100"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>