@model HomeViewModel

<div class="container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h1 class="text-primary-subtle fw-bold">Dashboard</h1>
            </div>
        </div>
        <br />

        <div class="row gx-4 gy-4">
            <!-- First column -->
            <div class="col-lg-9 h-100">
                <!-- Progress Overview -->
                <div class="card text-black bg-light mb-4 rounded-4 shadow" style="height:350px;">
                    <div class="card-body bg-info-subtle d-flex flex-column rounded-4">
                        <div class="row">
                            <div class="col">
                                @{
                                    string overviewTitle = "Overview";
                                    string buttonTitle = "Overview";
                                    if (ViewBag.SelectedView == "goals")
                                    {
                                        overviewTitle = "Goal Overview";
                                        buttonTitle = "Goals";
                                    }
                                    else if (ViewBag.SelectedView == "budgets")
                                    {
                                        overviewTitle = "Budget Overview";
                                        buttonTitle = "Budgets";
                                    }
                                    else if (ViewBag.SelectedView == "todos")
                                    {
                                        overviewTitle = "ToDo Overview";
                                        buttonTitle = "ToDo";
                                    }
                                }
                                <h4 class="card-title fw-bold">@overviewTitle</h4>
                            </div>
                            <div class="col">
                                <div class="float-end">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="viewDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            @buttonTitle
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="viewDropdown">
                                            <li><a class="dropdown-item" href="@Url.Action("UserIndex", "Home", new { view = "overview" })">Overview</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("UserIndex", "Home", new { view = "goals" })">Goals</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("UserIndex", "Home", new { view = "budgets" })">Budgets</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("UserIndex", "Home", new { view = "todos" })">ToDo</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Conditional rendering based on the selected view -->
                        @if (ViewBag.SelectedView == "overview")
                        {
                            <!-- Default overview content -->
                            <p class="mt-3">This month you completed</p>
                            <div class="row h-100">
                                <div class="col-md-4">
                                    <p class="fs-2">Goals</p>
                                    <div class="h-100 mt-3 mx-5 fs-1">@Model.GoalsCompletedThisMonth</div>
                                </div>
                                <div class="col-md-4">
                                    <p class="fs-2">ToDos</p>
                                    <div class="h-100 mt-3 mx-5 fs-1">@Model.ToDosCompletedThisMonth</div>
                                </div>
                                <div class="col-md-4">
                                    <p class="fs-2">Budgets</p>
                                    <div class="h-100 mt-3 mx-5 fs-1">@Model.BudgetsCompletedThisMonth</div>
                                </div>
                            </div>
                        }
                        else if (ViewBag.SelectedView == "goals")
                        {
                            <!-- Goals overview content -->
                            <div class="row">
                                @if (Model.Goals != null && Model.Goals.Any())
                                {
                                    <div class="col mt-3">
                                        <div class="row row h-100">
                                            <div class="col-md-4">
                                                <p class="fs-4">In Progress</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.InProgressGoals</div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fs-4">Completed</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.CompletedGoals</div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fs-4">Overdue</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.OverdueGoals</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex justify-content-center align-content-center">
                                        <div class="" style="width: 250px; height: 250px;">
                                            <canvas id="GoalOverviewChart" height="100" width="250"></canvas>
                                        </div>

                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                                        <script>
                                            const ctx = document.getElementById('GoalOverviewChart');

                                            new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: ['Overdue', 'In Progress', 'Completed'],
                                                    datasets: [{
                                                        label: 'Goals',
                                                        data: [@Model.OverdueGoals, @Model.InProgressGoals, @Model.CompletedGoals],
                                                        backgroundColor: [
                                                            'rgb(255, 99, 132)',
                                                            'rgb(54, 162, 235)',
                                                            'rgb(255, 205, 86)'
                                                        ],
                                                        hoverOffset: 4
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        }
                                                    },
                                                    scales: {
                                                        y: {
                                                            display: false
                                                        },
                                                        x: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            });
                                        </script>
                                    </div>
                                }
                                else
                                {
                                    <p class="mt-4">You don't have any goals available. Consider creating a new goal.</p>
                                }
                            </div>
                        }
                        else if (ViewBag.SelectedView == "budgets")
                        {
                            <!-- Budgets overview content -->
                            <div class="row">
                                @if (Model.BudgetItems != null && Model.BudgetItems.Any())
                                {
                                    <div class="col mt-3">
                                        <div class="row row h-100">
                                            <div class="col-md-4">
                                                <p class="fs-4">In Progress</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.InProgressBudgets</div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fs-4">Completed</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.CompletedBudgets</div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fs-4">Overdue</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.OverdueBudgets</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex justify-content-center align-content-center">
                                        <div class="" style="width: 250px; height: 250px;">
                                            <canvas id="BudgetOverviewChart" height="100" width="250"></canvas>
                                        </div>

                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                                        <script>
                                            const ctx = document.getElementById('BudgetOverviewChart');

                                            new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: ['Overdue', 'In Progress', 'Completed'],
                                                    datasets: [{
                                                        label: 'Budgets',
                                                        data: [@Model.OverdueBudgets, @Model.InProgressBudgets, @Model.CompletedBudgets],
                                                        backgroundColor: [
                                                            'rgb(255, 99, 132)',
                                                            'rgb(54, 162, 235)',
                                                            'rgb(255, 205, 86)'
                                                        ],
                                                        hoverOffset: 4
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        }
                                                    },
                                                    scales: {
                                                        y: {
                                                            display: false
                                                        },
                                                        x: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            });
                                        </script>
                                    </div>
                                }
                                else
                                {
                                    <p class="mt-4">You don't have any budgets available. Consider creating a new budget.</p>
                                }
                            </div>
                        }
                        else if (ViewBag.SelectedView == "todos")
                        {
                            <!-- ToDo overview content -->
                            <div class="row">
                                @if (Model.ToDoItems != null && Model.ToDoItems.Any())
                                {
                                    <div class="col mt-3">
                                        <div class="row row h-100">
                                            <div class="col-md-4">
                                                <p class="fs-4">In Progress</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.InProgressToDos</div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fs-4">Completed</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.CompletedToDos</div>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fs-4">Overdue</p>
                                                <div class="h-100 mt-3 mx-5 fs-1">@Model.OverdueToDos</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex justify-content-center align-content-center">
                                        <div class="" style="width: 250px; height: 250px;">
                                            <canvas id="ToDoOverviewChart" height="100" width="250"></canvas>
                                        </div>

                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                                        <script>
                                            const ctx = document.getElementById('ToDoOverviewChart');

                                            new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: ['Overdue', 'In Progress', 'Completed'],
                                                    datasets: [{
                                                        label: 'ToDos',
                                                        data: [@Model.OverdueToDos, @Model.InProgressToDos, @Model.CompletedToDos],
                                                        backgroundColor: [
                                                            'rgb(255, 99, 132)',
                                                            'rgb(54, 162, 235)',
                                                            'rgb(255, 205, 86)'
                                                        ],
                                                        hoverOffset: 4
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false
                                                        }
                                                    },
                                                    scales: {
                                                        y: {
                                                            display: false
                                                        },
                                                        x: {
                                                            display: false
                                                        }
                                                    }
                                                }
                                            });
                                        </script>
                                    </div>
                                }
                                else
                                {
                                    <p class="mt-4">You don't have any ToDos available. Consider creating a new ToDo.</p>
                                }
                            </div>
                        }
                    </div>
                </div>
                <!-- Budget -->
                <div class="card text-black bg-info-subtle mb-4 rounded-4 shadow" style="height:350px;">
                    <div class="card-body d-flex flex-column rounded-4">
                        <h4 class="card-title fw-bold">Budgets</h4>
                        <div style="max-height: 225px; overflow-y: auto;">
                            @if (Model.BudgetItems != null && Model.BudgetItems.Any())
                            {
                                @foreach (var budget in Model.BudgetItems)
                                {
                                    <div class="container mt-2 mb-2">
                                        <div class="row">
                                            <div class="col">
                                                <p>Category: @budget.Category</p>
                                            </div>
                                            <div class="col">
                                                <p>Name: @budget.Title</p>
                                            </div>
                                            <div class="col">
                                                <p>Amount: $@budget.Amount</p>
                                            </div>
                                            <div class="col">
                                                <p>Date: @budget.Date.ToShortDateString()</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="mt-4">No Budgets Available</p>
                            }
                        </div>
                        <div class="mt-auto">
                            <a asp-controller="Budget" asp-action="Index" class="card-link">
                                Go To Budgets
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Goals -->
                <div class="card text-black bg-info-subtle mb-4 rounded-4 shadow no-scrollbar" style="height:350px;">
                    <div class="card-body d-flex flex-column rounded-4">
                        <h4 class="card-title fw-bold">Goals</h4>
                        <div style="max-height: 225px; overflow-y: auto;">
                            @if (Model.Goals != null && Model.Goals.Any())
                            {
                                @foreach (var goal in Model.Goals)
                                {
                                    <div class="container mt-2 mb-2">
                                        <div class="row">
                                            <div class="col">
                                                <p>Name: @goal.Title</p>
                                            </div>
                                            <div class="col">
                                                <p>Date: @goal.DueDate.ToShortDateString()</p>
                                            </div>
                                            <div class="col">
                                                <p>Priority: @goal.Priority</p>
                                            </div>
                                            <div class="col">
                                                <p>Status: @goal.Status.ToString().Replace("InProgress", "In Progress")</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="mt-4">No Goals Available</p>
                            }
                        </div>
                        <div class="mt-auto">
                            <a asp-controller="Goal" asp-action="Index" class="card-link">
                                Go To Goals
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ToDo -->
                <div class="card text-black bg-info-subtle mb-4 rounded-4 shadow" style="height:350px;">
                    <div class="card-body d-flex flex-column rounded-4">
                        <h4 class="card-title fw-bold">ToDos</h4>
                        <div style="max-height: 225px; overflow-y: auto;">
                            @if (Model.ToDoItems != null && Model.ToDoItems.Any())
                            {
                                @foreach (var toDo in Model.ToDoItems)
                                {
                                    <div class="container mt-2 mb-2">
                                        <div class="row">
                                            <div class="col">
                                                <p class="card-text">Name: @toDo.Title</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">Date: @toDo.DueDate.ToShortDateString()</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="mt-4">No ToDos Available</p>
                            }
                        </div>
                        <div class="mt-auto">
                            <a asp-controller="ToDo" asp-action="Index" class="card-link">
                                Go To ToDos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second column -->
            <div class="col-lg-3">
                <!-- Calendar -->
                <div class="card text-black bg-info-subtle mb-4 h-100 rounded-4 shadow" style="overflow-y:auto;">
                    <div class="card-body rounded-4">
                        <h4 class="card-title text-center fw-bold">Upcoming</h4>
                        <div class="container h-100">
                            <div class="row">
                                <div class="col align-content-center text-center">
                                    @{
                                        // Calculate the start and end of the current week
                                        DateTime startOfWeek = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek);
                                        DateTime endOfWeek = startOfWeek.AddDays(6);
                                    }
                                    @startOfWeek.ToString("MMM d") - @endOfWeek.ToString("MMM d, yyyy")
                                </div>
                            </div>
                            <div class="row mt-3 h-100">
                                @foreach (var day in Enumerable.Range(0, 7))
                                {
                                    DateTime currentDate = DateTime.Today.AddDays(day - (int)DateTime.Today.DayOfWeek);
                                    <div class="col">
                                        <p>@currentDate.ToString("dddd")</p>
                                        @foreach (var item in Model.UpcomingItems.Where(i => i.DueDate.Date == currentDate.Date))
                                        {
                                            <p>@item.Name - @item.DueTime.ToString("hh:mm tt")</p>
                                        }
                                    </div>
                                    <div class="w-100"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>